# University of Michigan
## School of Information
### Masters of Applied Data Science
#### Milestone 1
#### Alan, Koon Leong, George

**Data Preparation**

In [2]:
import sqlalchemy
import pandas as pd
import geopandas
import geofeather
import numpy as np
from config import dbconfig, basedir

properties_input = r'/data/property_level.csv'
properties_output=r'/data/SIADS591_property.pkl'

properties_shp_file = r'/data/municipalities/All Municipalities Geometry and Municipality.shp'
properties_gis_output = r'/data/SIADS591municipalities.feather'

test_mode = False

In [12]:
# Upload property csv file into database


def convert2int(df):
    return df.astype('int')

def calculate_percentage(data):
    list_of_cities = list(data['City'].unique())
    p_data = data.copy()
    p_data['Percent']=0
    for city in list_of_cities:
        total_in_city = len(p_data[p_data.City == city])
        p_data.loc[p_data.City == city, ['Percent']] = (1/total_in_city)*100
    return p_data

def prep_properties():
    file_dir = basedir()
    full_path = file_dir + properties_input
    print(f'Data file {full_path}')
    df = pd.read_csv(full_path)
    df = df.iloc[:,2:-1]
    df = df.rename(columns = {'PNUM': 'APN'})
    df['City'] = df['City'].str.upper()
    df = df.fillna(0)
    df = df[~(df.City==0)]
    df['Per Arce'] = convert2int(df['SEV']/df['Acres'])
    df['SEV'] = convert2int(df['SEV'])
    df['MSHDA Score'] = convert2int(df['MSHDA Score'])
    df['amenities_ind'] = convert2int(df['amenities_ind'])
    df['walkscore_ind'] = convert2int(df['walkscore_ind'])
    
    df = calculate_percentage(df)
    
    full_path = file_dir + properties_output
    if test_mode:
        df = df.iloc[0:100,:]
        df.to_pickle(full_path)        
    else:
        df.to_pickle(full_path)
    return df

In [13]:
# def prep_properties_geo():
    
#     GRParcelsUnit=geopandas.read_file(basedir() + properties_shp_file)
#     # convert into latitude/longitude coordinates
#     GRParcelsUnit=GRParcelsUnit.to_crs('EPSG:4326')
# #     GRParcelsUnit=GRParcelsUnit.__geo_interface__
#     geofeather.to_geofeather(GRParcelsUnit, properties_gis_output)

# # geofeather.to_geofeather(gdf,'tutorialData/TaxiDataGeoFeather.feather')

In [14]:
# prep_properties_geo()

In [15]:
chec_df = prep_properties()

Data file /Users/koonleong/Documents/UMMADS/SIADS591/project_git/go_blue/src/final/data/property_level.csv

In [17]:
chec_df[~(chec_df.City==0)]

,ID,APN,Address,City,Zip_Code,Acres,block_group,SEV,amenities_ind,oz_ind,...,Op360_ind,walkscore_ind,MSHDA Score,1br_afford_100,1br_afford_95,1br_afford_90,1br_afford_85,1br_afford_80,Per Arce,Percent
0,0,41-15-05-100-024,3350 PETTIS AVE NE,ADA,MI49301,9.800932,260810119011,147000,0,0,...,3,0,3,0,0,0,0,0,14998,0.012341
1,1,41-15-01-400-025,3020 MCCABE AVE NE,ADA,MI49301,5.232204,260810119012,185600,0,0,...,2,0,2,0,0,0,0,0,35472,0.012341
2,2,41-14-36-431-003,4798 CASCADE RD SE,GRAND RAPIDS,MI49546,0.174842,260810119021,25000,4,0,...,3,0,7,0,0,0,0,0,142986,0.001061
3,3,41-15-01-400-026,3024 MCCABE AVE NE,ADA,MI49301,3.046602,260810119012,102200,0,0,...,2,0,2,0,0,0,0,0,33545,0.012341
4,4,41-15-05-100-041,3200 PETTIS AVE NE,ADA,MI49301,6.918759,260810119011,405200,0,0,...,3,0,3,0,0,0,0,0,58565,0.012341
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227205,239943,41-16-29-300-023,32 PARNELL AVE SE,LOWELL,MI49331,3.386798,260810120031,135200,0,0,...,3,0,3,0,0,0,0,0,39919,0.014501
227206,239944,41-16-33-100-029,540 WILDVIEW DR SE,LOWELL,MI49331,3.517213,260810120031,131900,2,0,...,3,0,5,0,0,0,0,0,37501,0.014501
227207,239945,41-16-33-200-025,11900 VERGENNES ST SE,LOWELL,MI49331,17.219753,260810120031,193700,2,0,...,3,0,5,0,0,0,0,0,11248,0.014501
227208,239946,41-16-11-200-010,2425 BIGGS AVE NE,LOWELL,MI49331,4.776085,260810120032,95000,0,0,...,3,0,3,0,0,0,0,0,19890,0.014501
227209,239947,41-16-24-301-006,13691 BECKWITH DR NE,LOWELL,MI49331,4.633507,260810120032,114700,0,0,...,3,0,3,0,0,0,0,0,24754,0.014501